<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Change Log Template</title>
  <meta content="Default User" name="author">
</head>
<body>
<h1 style="text-align: center;">&lt;Project Name&gt;<br>
</h1>
<h1 style="text-align: center;">Change Log<br>
</h1>
<h2 style="text-align: center;">CSCI-P465/565 (Software Engineering I)<br>
</h2>
<hr style="width: 100%; height: 2px;">Please record baseline changes in
the table below.&nbsp; Record an entry for each individual change that
has been made post-baseline of an artifact.&nbsp; A document is
considered baselined if it has
been delivered according to the project schedule.&nbsp; Note that
change control applies only to software development life cycle
documents (meeting minutes and weekly status reports are exempt).<br>
<div style="margin-left: 40px;"><span style="font-weight: bold;">Date: </span>The
date that the change was made.<br>
<span style="font-weight: bold;">Change Description: </span>A brief
statement of the nature of the change<br>
<span style="font-weight: bold;">Affected Artifacts:&nbsp;</span>
Include all artifacts that were modified as a result of this
change.&nbsp; In the case of source code, please list each file that
was affected.<br>
</div>
<br>
<table style="width: 100%; text-align: left;" border="1" cellpadding="2"
 cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top; font-weight: bold;">Date<br>
      </td>
      <td style="vertical-align: top; font-weight: bold;">Change
Description<br>
      </td>
      <td style="vertical-align: top; font-weight: bold;">Affected
Artifacts <br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
  </tbody>
</table>
<br>
<big><big><br>
</big></big>
<hr style="width: 100%; height: 2px;">
<div style="text-align: center;"><span style="font-weight: bold;">Page
Author/Creator:</span> <a
 href="http://homes.soic.indiana.edu/aabhutta/">Adeel Bhutta</a><span
 style="font-weight: bold;"><br>
Last Modified:</span> 8/23/2016<br>
</div>
</body>
</html>
