<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Customer Survey Template</title>
  <meta content="Default User" name="author">
</head>
<body>
<h1 style="text-align: center;">&lt;Project Name&gt;<br>
</h1>
<br>
<h2 style="text-align: center;">CSCI-P465/565 (Software Engineering I)</h2>
<h2 style="text-align: center;"><span
 style="text-decoration: underline;">Project Team</span></h2>
<h3 style="text-align: center;">&lt;Project Team Member&gt;</h3>
<h3 style="text-align: center;">&lt;Project Team Member&gt;</h3>
<h3 style="text-align: center;">&lt;Project Team Member&gt;</h3>
<h3 style="text-align: center;">&lt;Project Team Member&gt;</h3>
<div style="text-align: center;"></div>
<h2 style="text-decoration: underline; text-align: center;">Customer/User
Team</h2>
<h3 style="text-align: center;">&lt;Customer/User Name&gt;</h3>
<h3 style="text-align: center;">&lt;Customer/User Name&gt;</h3>
<br>
<hr style="width: 100%; height: 2px;"><br>
<br>
For each statement in the Table below, please place an 'X' in the
column that most closely represents your opinion of the software
development team's efforts, and the product that was delivered to you.<br>
<br>
<table style="width: 100%; text-align: left;" border="1" cellpadding="2"
 cellspacing="2">
  <tbody>
    <tr>
      <td colspan="1" rowspan="2"
 style="vertical-align: top; text-align: center; font-weight: bold;">User
Evaluation Statements<br>
      </td>
      <td colspan="5" rowspan="1"
 style="vertical-align: top; text-align: center; font-weight: bold;">Customer
Rating<br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; font-weight: bold;">Strongly
Disagree<br>
      </td>
      <td style="vertical-align: top; font-weight: bold;">Disagree<br>
      </td>
      <td style="vertical-align: top; font-weight: bold;">Agree<br>
      </td>
      <td style="vertical-align: top; font-weight: bold;">Strongly Agree<br>
      </td>
      <td style="vertical-align: top; font-weight: bold;">N/A<br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The development team made a
significant effort to understand my needs and requirements for the
developed software.<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The development team kept me
sufficiently appraised of the progress of the project.<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The development team solicited
my approval for any changes in the scope or content of the delivered
software.<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The software was
delivered in the agreed-upon media format.<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The software was easy to install.<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The software provides
the expected functionality.<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The user interface layout is
clear, crisp, properly aligned, and is attractive to the eye.<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The flow of operation of the
software is intuitive and easy to follow.<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The software presents
data/reports/results clearly and correctly.<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">Messages that appear during
operation of the software are clear and provide adequate guidance.<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The development team provided
sufficient training to guide me in the use of the software .<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The delivered documentation
sufficiently addresses the functionality and operation of the software.<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
  </tbody>
</table>
<br>
Please use the free response questions below to elaborate on the
quality of the software product that was delivered to you.<br>
<br>
<ul>
  <li><span style="font-weight: bold;">Did the delivered software
product provide the expected functionality?&nbsp; <br>
    </span></li>
</ul>
<span style="font-weight: bold;"><br>
</span>
<ul>
  <ul>
    <li><span style="font-weight: bold;">List
any capabilities that were expected, but not delivered</span></li>
  </ul>
</ul>
<span style="font-weight: bold;"><br>
<br>
<br>
<br>
<br>
</span>
<ul>
  <ul>
    <li><span style="font-weight: bold;">List any capabilities that
were delivered, but not correctly implemented.</span></li>
  </ul>
</ul>
<br>
<br>
<br>
<br>
<br>
<ul>
  <li><span style="font-weight: bold;">Have you encountered any
unexpected faults/errors in the software?&nbsp; If so, briefly describe
the fault(s).</span></li>
</ul>
<br>
<br>
<ul>
  <li><span style="font-weight: bold;">General comments on the software
product:</span></li>
</ul>
<br>
<br>
<br>
<big><big><br>
</big></big>
<hr style="width: 100%; height: 2px;">
<div style="text-align: center;"><span style="font-weight: bold;">Page
Author/Creator:</span> <span style="font-weight: bold;"><a
 href="http://homes.soic.indiana.edu/aabhutta/">Adeel Bhutta</a><br>
Last Modified:</span> 8/23/2016</div>
<br>
<br>
</body>
</html>
