<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Meeting Minutes Template</title>
  <meta content="Default User" name="author">
</head>
<body>
<h1 style="text-align: center;">&lt;Project Name&gt;<br>
</h1>
<h1 style="text-align: center;">Meeting Minutes &lt;Date&gt;<br>
</h1>
<h2 style="text-align: center;">CSCI-P465/565 (Software Engineering I)</h2>
<h2 style="text-align: center;"><span
 style="text-decoration: underline;">Meeting Attendees<br>
</span></h2>
<h3 style="text-align: center;">&lt;Attendee&gt;</h3>
<h3 style="text-align: center;">&lt;Attendee&gt;</h3>
<h3 style="text-align: center;">&lt;Attendee&gt;</h3>
<h3 style="text-align: center;">&lt;Attendee&gt;</h3>
<br>
<hr style="width: 100%; height: 2px;"><br>
<h2>General Meeting Info</h2>
<div style="margin-left: 40px;"><span style="font-weight: bold;">Meeting
Purpose: </span>Briefly state the purpose of the meeting<br>
</div>
<span style="font-weight: bold;"><br>
</span>
<div style="margin-left: 40px;"><span style="font-weight: bold;">Start
Time:</span> Indicate the time the meeting started<br>
</div>
<span style="font-weight: bold;"><br>
</span>
<div style="margin-left: 40px;"><span style="font-weight: bold;">Stop
Time: </span>Indicate the time the meeting stopped<br>
</div>
<h2>Old Business</h2>
<div style="margin-left: 40px;"><span style="font-weight: bold;">Action
Item Status: </span>Provide status on all outstanding action items (if
applicable)<br>
<br>
</div>
<h2>New Business</h2>
<br>
<div style="margin-left: 40px;"><span style="font-weight: bold;">Discussions
Summary:</span> Document any discussions that took place during the
meeting.&nbsp; Note specifics of the conversation, particularly for
customer meetings.&nbsp; In this section it needs to be evident what
topics were discussed in a fair amount of detail.<br>
</div>
<br>
<div style="margin-left: 40px;"><span style="font-weight: bold;">Decisions
Summary:</span> Note here each decision that was made by the attendees<br>
<br>
<span style="font-weight: bold;">New Action Items:</span> List any new
action items, who (one person only) is responsible, and when the action
should be complete<br>
</div>
<br>
<br>
<big><big><br>
</big></big>
<hr style="width: 100%; height: 2px;">
<div style="margin-left: 40px; text-align: center;"><span
 style="font-weight: bold;">Page
Author/Creator:</span> <span style="font-weight: bold;"><a
 href="http://homes.soic.indiana.edu/aabhutta/">Adeel Bhutta</a><br>
Last Modified:</span> 8/23/2016
</div>
</body>
</html>
