<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>System Design Template</title>
  <meta content="Default User" name="author">
</head>
<body>
<h1 style="text-align: center;">&lt;Project Name&gt;<br>
</h1>
<h1 style="text-align: center;">Software Design</h1>
<h2 style="text-align: center;">CSCI-P465/565 (Software Engineering
I)&nbsp;</h2>
<div style="text-align: center;">
<h2><span style="text-decoration: underline;">Project Team</span></h2>
<h3>&lt;Project Team Member&gt;</h3>
<h3>&lt;Project Team Member&gt;</h3>
<h3>&lt;Project Team Member&gt;</h3>
<h3>&lt;Project Team Member&gt;</h3>
<br>
<hr style="width: 100%; height: 2px;"></div>
<h2>1. Introduction</h2>
This section introduces the design approach to the software system.<br>
<br>
<h3 style="margin-left: 40px;">1.1 System Description</h3>
<div style="margin-left: 40px;">Provide a description of the system,
and the problem that is being
solved by developing the system (may be copied from the Project Plan or
Software Specification if those documents are accurate).<br>
</div>
<br>
<h3 style="margin-left: 40px;">1.2 Design Evolution</h3>
<div style="margin-left: 40px;">This section is intended to document
the rationale behind the selected
design solution.<br>
</div>
<br>
<h4 style="margin-left: 80px;">1.2.1 Design Issues</h4>
<div style="margin-left: 80px;">Include in this section any
issues/requirements/constraints that drive
the design of the system.&nbsp; This may include desired operating
environment, interface protocols, the need to be remotely accessible,
etc.<br>
</div>
<br>
<h4 style="margin-left: 80px;">1.2.2 Candidate Design Solutions</h4>
<div style="margin-left: 80px;">Briefly (a paragraph or two) describe
each of the possible design
solutions that your team discussed/explored.<br>
</div>
<br>
<h4 style="margin-left: 80px;">1.2.3 Design Solution Rationale</h4>
<div style="margin-left: 80px;">Provide some reasoning for the design
option that your development team
selected.&nbsp; Tie in the selected approach's ability to meet the
requirements, and most effectively address the design issues.<br>
</div>
<br>
<h3 style="margin-left: 40px;">1.3 Design Approach</h3>
<h4 style="margin-left: 80px;">1.3.1 Methods</h4>
<div style="margin-left: 80px;">Describe the methods that are employed
in order to capture your
design.&nbsp; What techniques did you use (prototypes, object-oriented
design, design patterns, etc) and why?<br>
</div>
<h4 style="margin-left: 80px;">1.3.2 Standards</h4>
<div style="margin-left: 80px;">Describe any design standards to which
your design adhered.&nbsp; These
may include safety standards, operator interface standards, naming
conventions, structure and hierarchy of components, etc. <br>
</div>
<h4 style="margin-left: 80px;">1.3.3 Tools</h4>
<div style="margin-left: 80px;">Describe any tools that you plan to use
to assist you in developing the
design, and specify exactly what products will be generated by the
tools.<br>
</div>
<br>
<h2>2. System Architecture</h2>
<h3 style="margin-left: 40px;">2.1 System Design</h3>
<div style="margin-left: 40px;">Provide a description of&nbsp; the
high-level design of your
system.&nbsp; Include a system diagram that captures the major
components and the external interfaces.&nbsp; Describe the operation of
the system (high-level) and the interaction between components.<br>
</div>
<h3 style="margin-left: 40px;">2.2 External Interfaces</h3>
<div style="margin-left: 40px;">Describe in detail all external
interfaces that interact with your
system.&nbsp; Be sure to include a description of the interface and a
summary of its relationship with your system.&nbsp; Be sure to include
specifics about the communication between your system and the external
system including protocols, data structures exchanged, and
timing/handshaking patterns.<br>
</div>
<br>
<h2>3. Component Design</h2>
<br>
The Component Design section details the proposed design of each system
component.&nbsp; A system conponent is a functional partition of the
system.&nbsp; Components may be organized as you see fit - a
component may be a collection of objects, or a single object.&nbsp;
However, a system must be composed of multiple components (that is, a
system cannot be one component).&nbsp; The
layout of this section is at your discretion, but please include the
following (at a minimum) information for each component:<br>
<ul>
  <li><span style="font-weight: bold;">Component Name</span><br>
Provide a unique component name<br>
  </li>
  <li><span style="font-weight: bold;">Component Description</span><br>
Include a description of the function of the component.&nbsp; Feel free
to include any diagrams/charts/tables that will provide understanding
of the component you are developing. Make the description detailed
enough so that the operational flow of the component is evident.&nbsp;
If your component performs any kind of calculations, uses algorithms,
or executes a mathematical model, be sure to document those methods
here.&nbsp; Also, make clear whether or not the component is a
stand-alone process
or thread, or if its operation is included in the "main" execution loop.<br>
  </li>
  <li><span style="font-weight: bold;"></span><span
 style="font-weight: bold;">Responsible Development Team Member</span><br>
Decide who on your development team (one person, please) is responsible
for the design and
implementation of this component.<br>
  </li>
  <li><span style="font-weight: bold;">Component Diagram</span><br>
Graphically depict the design of the component in terms of interfaces
with other components and external interfaces.&nbsp; Also, consider
including a diagram depicting the internal operations and/or class
relationships in the component.</li>
  <li><span style="font-weight: bold;">Component User Interface</span><br>
If this component includes a user interface, include some details about
the interface including what aspects of the component will be available
through the interface, a description of each of the user screens that
are expected for this component, and a description of each of the user
notifications and/or messages that are planned for this component.<br>
    <span style="font-weight: bold;"></span></li>
  <li><span style="font-weight: bold;">Component Objects</span><br>
Describe the objects/classes that comprise this component.&nbsp;
Provide a listing of expected data members and methods for each
class.&nbsp; Note in the description if a given object/method does any
of the following (<span style="text-decoration: underline;">Note:</span>
Some of this information may be captured in class diagrams or other
parts of the design - simply be sure it is included somewhere):</li>
  <ul>
    <li>Makes an operating system call (cite expected system calls to
be made)</li>
    <li>Makes a hardware-specific system call (cite calls to be made)<br>
    </li>
    <li>Creates/alters/deletes a file (cite file names)<br>
    </li>
    <li>Explicitly calls the method of another object (cite name of
other object)</li>
    <li>Is explicitly called by another object (cite name of other
object)<br>
    </li>
    <li>Passes data to another object (cite data structure and name of
other object)</li>
    <li>Receives data from another object (cite data structure and name
of other object)<br>
    </li>
    <li>Is derived from another object (cite name of other object)<br>
    </li>
  </ul>
  <li><span style="font-weight: bold;">Component Interfaces (internal
and external)</span><br>
Describe the component's interfaces with other components including a
description of protocols to be used, methods to be called, and/or data
structures to exchange.&nbsp; In addition, any operating system calls
should be identified in this section.&nbsp; If the interface requires a
particular data exchange sequence or timing pattern, include a sequence
diagram to descibe it.&nbsp; Describe this component's relationship to
the external interfaces also (if external interfaces were sufficiently
covered in Section 2.2, then simply reference that section).</li>
  <li><span style="font-weight: bold;">Component Error Handling</span><br>
Describe the steps taken in the design to incorporate fault tolerance,
data corruption prevention, and incorrect operation avoidance.&nbsp;
Please organize these into error cases. <br>
    <span style="font-weight: bold; text-decoration: underline;">Example:</span><br>
Error Case 1: Input Validity Check: MyClass.initialize() method will
range check its integer input such that 0 &lt; x &lt;= 5<br>
    <br>
  </li>
</ul>
<br>
<h2>Revision History</h2>
<br>
<table style="width: 100%; text-align: left;" border="1" cellpadding="2"
 cellspacing="2">
  <tbody>
    <tr>
      <th style="vertical-align: top;">Revision</th>
      <th style="vertical-align: top;">Date<br>
      </th>
      <th style="vertical-align: top;">Change Description<br>
      </th>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<big><big><br>
</big></big>
<hr style="width: 100%; height: 2px;">
<div style="text-align: center;"><span style="font-weight: bold;">Page
Author/Creator:</span> <a
 href="http://homes.soic.indiana.edu/aabhutta/">Adeel Bhutta</a><span
 style="font-weight: bold;"><br>
Last Modified:</span> 8/23/2016</div>
<br>
</body>
</html>
