<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Software Users Manual Template</title>
  <meta content="Adeel Bhutta" name="author">
</head>
<body>
<h1 style="text-align: center;">&lt;Project
Name&gt;<br>
</h1>
<h1 style="text-align: center;">User's
Manual<br>
</h1>
<h2 style="text-align: center;">CSCI-P465/565
(Software Engineering I)</h2>
<h2 style="text-align: center;"><span
 style="text-decoration: underline;">Project Team</span></h2>
<h3 style="text-align: center;">&lt;Project
Team Member&gt;</h3>
<h3 style="text-align: center;">&lt;Project
Team Member&gt;</h3>
<h3 style="text-align: center;">&lt;Project
Team Member&gt;</h3>
<h3 style="text-align: center;">&lt;Project
Team Member&gt;</h3>
<hr style="width: 100%; height: 2px;"><br>
<h2>1. Product Overview</h2>
Provide a brief (1-2 paragraph) description of the software product and
its capabilities.<br>
<br>
<h2>2. System Requirements</h2>
<br>
Detail the minimum system requirements to operate your
product.&nbsp;
If you are using a support software package, be sure the system
requirements you list are consistent with the requirements to use the
support package.<br>
<br>
<h2>3. Product Installation</h2>
<br>
Provide a sequence of&nbsp; steps that details how to install the
product.&nbsp; Assume that the software product has just been
handed to
you on the media you provide.&nbsp; Detail exactly how to install
the
software onto a system.&nbsp; If your software depends on the
presence
of other software support packages, detail how to install those
packages or provide a link to a website that provides this detail (for
example, if your software requires Python to run, provide a link to the
Python installation web site).<br>
<br>
<h2>4. Product Operation</h2>
<br>
Detail in this section how to use your product.&nbsp; The format
for
this section is at your discretion.&nbsp; Assume that the software
has
been successfully installed.&nbsp; Guide the user through program
start-up, describe the various modes of operation or sequence of steps
to perform actions within your tool, and describe how to close down the
program.&nbsp; Include screen shots, and detailed descritpions of
the
necessary steps to use your system.&nbsp; Assume that the audience
for
this artifact is not a software engineer.<br>
<br>
<h2>5. Known Defects</h2>
<br>
Describe any known operational defects associated with the product.<br>
<br>
<br>
<br>
<h2>Revision History</h2>
<br>
<table style="width: 100%; text-align: left;" border="1" cellpadding="2"
 cellspacing="2">
  <tbody>
    <tr>
      <th style="vertical-align: top;">Revision</th>
      <th style="vertical-align: top;">Date<br>
      </th>
      <th style="vertical-align: top;">Change
Description<br>
      </th>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<big><big><br>
</big></big>
<hr style="width: 100%; height: 2px;">
<div style="text-align: center;"><span style="font-weight: bold;">Page
Author/Creator:</span> <a
 href="http://homes.soic.indiana.edu/aabhutta/">Adeel
Bhutta</a><span style="font-weight: bold;"><br>
Last Modified:</span> 8/23/2016</div>
<br>
</body>
</html>
